In [1]:
# import pandas for tabluar data
import pandas as pd

# import pygwalker; alternative for tableau in python
import pygwalker as pyg

In [2]:
# read csv file as df
df = pd.read_csv('chocolate_bars.csv')
# show first few rows
df.head()

,id,manufacturer,company_location,year_reviewed,bean_origin,bar_name,cocoa_percent,num_ingredients,ingredients,review,rating
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76.0,3.0,"B,S,C","rich cocoa, fatty, bready",3.25
1,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76.0,3.0,"B,S,C","cocoa, vegetal, savory",3.50
2,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76.0,3.0,"B,S,C","cocoa, blackberry, full body",3.75
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68.0,3.0,"B,S,C","chewy, off, rubbery",3.00
4,2546,5150,U.S.A.,2021,Venezuela,"Sur del Lago, batch 1",72.0,3.0,"B,S,C","fatty, earthy, moss, nutty,chalky",3.00

In [3]:
# show pygwalker, set in light mode , discover data & create diff charts as in Tableau
pyg.walk(df, dark = 'light')

Box(children=(HTML(value='<div id="ifr-pyg-0" style="height: auto">\n    <head>\n        <meta http-equiv="Conâ€¦

From the 1st chart it's obvious that top 3 manufacturers in cocoa are Pralus, Ocleot & Zokoao

2nd chart clearily shows that top 3 beans origins are in Tobago, Sao Tome & China

3rd chart shows top cocoa percent in manufacturers descendingly